html {
    background-image: url(https://th.bing.com/th/id/OIP.AKN9qX0VZlN2H3BYUHU7JQHaEo?pid=ImgDet&rs=1);
    background-size: cover;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz {
    margin-top: 140px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
    background: #fff;
}

#no {
    margin-left: 170px;
    background-color: red;
    border-radius: 15px;
    color: #fff;
}

#sim {
    background-color: pink;
    border-radius: 15px;
    color: #fff;
}

.hide {
    display: none;
}