/* *Geral */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ol, li {
    list-style: none;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0176C3;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FAFAFA;
    margin-left: 15px;
}

#navbar.scrolled {
    background-color: #0176C3;
    color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* *Main section */
#main-section {
    background-color: #FAFAFA;
    padding: 20px;
    margin-top: 30px;
  } 

  .layout-info {
    display: flex;
    background-color: #FAFAFA;
    align-items: flex-start;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .layout-details {
    flex-grow: 1;
  }
  
  .layout-title {
    margin-top: 0;
  }
  
  .layout-description {
    margin: 0;
  }

/* *Carousel */
#carousel-section {
    margin-top: 20px;
  }

#carousel-section h2 {
    margin-bottom: 35px;
}
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .carousel-item {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
  }
  
  .carousel-content {
    display: flex;
    align-items: flex-start;
  }
  
  .carousel-image {
    width: 300px;
    height: auto;
    margin-right: 10px;
  }
  
  .carousel-caption {
    flex-grow: 1;
  }
  
  .carousel-title {
    margin-top: 0;
  }
  
  .carousel-description {
    margin: 0;
  }

/* *Form part */
#form-section {
    background-color: #C7EEFF;
    padding: 20px;
    margin-bottom: 15px;
  }
  
  .form-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

/* *Footer */
footer {
    background-color: #1D242C;
    border-top: 2px solid #000;
    padding: 10px;
    text-align: center;
    height: 60px;
    margin-bottom: 15px;
  }
  
  .footer-content {
    font-size: 14px;
  }
  